@model IEnumerable<ArticleApp.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Article List</h2>
<hr/>
<p>
    @Html.ActionLink("Add New Article", "Create", null, new { @class="btn btn-primary" })
</p>
<hr/>

@if (TempData["Article"] != null)
{
    var article = (ArticleApp.Models.Article)TempData["Article"];

    <div class="alert alert-success" role="alert">
        <strong><span class="glyphicon glyphicon-ok"></span>@article.Header</strong> Kayıt Edildi.
    </div>
}

@if (TempData["Article"] != null)
{
    var article = (ArticleApp.Models.Article)TempData["Article"];
}

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Header)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfAdding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Homepage)
        </th>
        <th style="width:180px;">Seçenekler</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Header)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfAdding)
        </td>
        <td>
            @if (item.Confirm)
            {
                <label class="label label-success">Confirmed</label>
            }
            else
            {
                <label class="label label-warning">Waiting</label>
            }
            @Html.DisplayFor(modelItem => item.Confirm)
        </td>
        <td>
            @if (item.Homepage)
            {
                <label class="label label-success">Anasayfa</label>
            }
            else
            {
                <label class="label label-warning">Anasayfa Değil</label>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class="btn btn-warning btn-xs" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class="btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
